<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="keywords" content="garage, automobile, ecf"/>
		<meta name="author" content="Emma VIGNERON">
		<meta name="description" content="Le Garage Thomas est un garage de confiance">
		<title>
			{% block title %}Bienvenue sur le site du Garage Thomas !
			{% endblock %}
		</title>
		<!--FONT AWESOME-->
		<script src="https://kit.fontawesome.com/50d220494b.js" crossorigin="anonymous"></script>
		<link href="Assets/fontawesome-free-6.4.2-desktop">

		<link rel="icon" type="favicon" href="public/images/favicon.ico"/>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}

			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
			<link rel="stylesheet" href="css/style.css">
			<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
			<link href="/css/Police/Josefin_Slab,Roboto_Slab/Josefin_Slab/static/JosefinSlab-Regular.ttf" rel="stylesheet">


		{% endblock %}

		{% block javascripts %}{% endblock %}
		{{ encore_entry_script_tags('app') }}
	</head>
	<body>
		{% include "shared/_navbar.html.twig" %}
		<div class="container pt-5">
			{% include "shared/_flash.html.twig" %}
			{% block body %}{% endblock %}
		</div>
		{% include "shared/_footer.html.twig" %}

	</body>
</html>
