<div class="brand-list">
	<h3>Marques</h3>
	<ul class="hide-onmobile">
		<li class="alfa">
			<a href="/brand/alfa-romeo">
				<img src="/css/medias/brand/logo-alfaromeo-65ae87b520d9d680605168.png" alt="Alfa-Roméo">
			</a>
		</li>
		<li class="citroen">
			<a href="/brand/citroen">
				<img src="/css/medias/brand/citroen-logo-65a7d59279a11365389936.jpg" alt="Citroen">
			</a>
		</li>
		<li class="ds">
			<a href="/brand/ds">
				<img src="/css/medias/brand/ds-logo-65a7d511b5eb6254454525.png" alt="Ds">
			</a>
		</li>
		<li class="fiat">
			<a href="/brand/fiat">
				<img src="/css/medias/brand/fiat-1-654e18e3621e2334725560 (1).png" alt="Fiat">
			</a>
		</li>
		<li class="peugeot">
			<a href="/brand/peugeot">
				<img src="/css/medias/brand/Peugeot_2021_Logo.svg (1).png" alt="Peugeot">
			</a>
		</li>
		<li class="ford">
			<a href="/brand/ford">
				<img src="/css/medias/brand/ford-logo-65a7d5861278d676046873.png" alt="Ford">
			</a>
		</li>
		<li class="mazda">
			<a href="/brand/mazda">
				<img src="css/medias/brand/mazda-logo-1024x576-65a7d3d835753593863608.png" alt="Mazda">
			</a>
		</li>
		<li class="renault">
			<a href="/brand/renault">
				<img src="css/medias/brand/Symbole-Renault.jpg" alt="Renault">
			</a>
		</li>
	</ul>
	<div class="show-onlymobile brand-list--mobile">
		<select class="form-select">
			<option value="_none">Choisir une marque</option>
			<option value="/achat-voiture/alfa-romeo">Alfa Romeo</option>
			<option value="/achat-voiture/audi">Audi</option>
			<option value="/achat-voiture/bmw">BMW</option>
		</select>
	</div>
